---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <p>Husband's name: {{ site.data.samplelist.name.husband }}</p>
    <p><b>Feedback</b></p>
    <p>{{ site.data.samplelist.feedback }}</p>
    <p><b>Block</b></p>
    <p>{{ site.data.samplelist.block }}</p>
    <p><b>Bikes</b></p>
    <ul>{% for item in site.data.samplelist.bikes %}
    <li>{{ item.title }}</li>{% endfor %}
    </ul>
    {% for item in site.data.samplelist.salesteams %}
    <li>{{entry.title}}</li>
    {% endfor %}
  </body>  
</html>
  
  
