.current {
  color: red;
}
.center {
  margin: auto;
  width: 50%;
  border: 3 px ssolid green;
  padding: 10px;
}
div.a {
  text-align: center;
}
div.b {
  text-align: left;
}
div.c {
  text-align: right;
}



