.current {
  color: red;
}
div.ha {
  text-align: center;
}
div.b {
  text-align: left;
}
.headline {
  color: black;
  text-weight: bold;
  text-align: left;
  margin: 0,0,0,10;
  border: 3px solid green;  
}
