.current {
  color: red;
}
.headline {
  color: black;
  text-weight: bold;
  text-align: center;
  border: 3px solid red;  
}
.top-gap {
  margin-top: 10px;
  color: black;  
}
.color-change {
  color: black
}
